.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50vw;
    max-width: 520px;
    min-height: 400px;

    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;

    .form-header {
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 30px;
      }
    }

    .register-form {
      height: 30vh;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      &.flex-end {
        justify-content: flex-end;
      }
    }

    @media screen and (max-width: 768px) {
      width: 90vw;
    }
  }

}